body{
font-family: Arial;
margin:0;
background:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:black;
color:white;
}

.logo{
height:50px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.catalogo{
display:flex;
flex-wrap:wrap;
gap:20px;
padding:20px;
justify-content:center;
}

.producto{
border:1px solid black;
padding:15px;
text-align:center;
width:220px;
}

.producto img{
width:200px;
height:200px;
object-fit:cover;
}

button{
background:black;
color:white;
border:none;
padding:10px;
cursor:pointer;
}

button:hover{
background:gray;
}

.popup{
position:fixed;
width:100%;
height:100%;
background:rgba(0,0,0,0.7);
display:flex;
justify-content:center;
align-items:center;
}

.popup-content{
background:white;
padding:30px;
text-align:center;
}

.carrito{
position:fixed;
right:0;
top:0;
background:white;
width:300px;
height:100%;
padding:20px;
border-left:2px solid black;
display:none;
}
